# IDE-specific
.idea/

# Jupyter notebooks
.ipynb_checkpoints/

# Node.js
node_modules/
package-lock.json

# Hugo build outputs
public/
resources/
hugo_stats.json
.hugo_build.lock

# Temporary / backup files
Thumbs.db
.DS_Store
.dist
.tmp
.lock
.sass-cache
npm-debug.log
builds
jsconfig.json

# Optional (only if using)
# go.sum
# yarn.lock

